---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Raul Gonzalez"
	description="About Raul Gonzalez Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Senior  full stack developer. Thanks for stopping by. Read below to learn more about myself and my background. "
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Raul Gonzalez at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						<strong
							>With more than 20 years of experience in the
							technological field, I am a highly qualified and
							entrepreneurial Full Stack Developer, having founded
							my own development company in Venezuela. Throughout
							my career, I have acquired solid knowledge in
							various technologies and methodologies.</strong
						>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<strong>UNIVERSIDAD NACIONAL ABIERTA - VENEZUELA</strong
						>
					</p>
					<p>8th SEMESTER IN SYSTEMS ENGINEERING</p>
					<p>Today</p>
				</div>
				<div class="content">
					<p><strong>IUTIRLA - CARACAS VENEZUELA</strong></p>
					<p>TSU COMPUTER SCIENCE, SYSTEMS ANALYSIS</p>
					<p>March 1991 - August 1996</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						<strong>FrontEnd:</strong> Proficient in JavaScript
						(more than 15 years), TypeScript (more than 5 years),
						React (more than 5 years), React-Native (more than 3
						years), Next.js (more than 3 years) and .NET Core (more
						than 10 years), allowing me to create attractive and
						functional user interfaces.
					</p>
					<p>
						<strong>Backend:</strong> I am an expert in Node.js
						(more than 5 years), Django (more than 10 years), SQL
						(more than 15 years), PostgreSQL (more than 10 years),
						MongoDB (more than 2 years), Redis (more than 2 years),
						Mongoose (more than 2 years), PL/SQL Oracle (more than
						10 years) and SQL Server (more than 10 years), which
						allows me to develop robust and scalable systems.
					</p>
					<p>
						<strong>Infrastructure and Cloud:</strong> I have
						extensive experience deploying and managing AWS (5+
						years), Azure (3+ years), Windows Server (15+ years) and
						Linux (10+ years), ensuring optimal performance and
						security in cloud and on-premises environments.
					</p>
					<p>
						<strong>Code and Data Management:</strong> I have solid
						knowledge in Git (more than 10 years), SQL Server (more
						than 10 years), SAP Crystal Reports (more than 10
						years), Redis (more than 2 years), Mongoose (more than 2
						years) and MongoDB Query Language (MQL) (more than 2
						years), ensuring efficient source code management and
						detailed report generation.
					</p>
					<p>
						<strong>Agile Methodologies:</strong> As a Scrum Master,
						I have facilitated the collaboration and delivery of
						successful projects in dynamic environments. My
						experience and skills make me an ideal candidate to lead
						and contribute to software development projects in a
						wide range of industries. wide range of industries
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Works</h2>
				<div class="content">
					<p>
						<strong>Caltion Consulting 路 Full Time</strong>
					</p>
					<p>
						<strong>Position:</strong> Senior Backend Engineer in
						Integrations and Development for SAP Business One
					</p>
					<p>
						<strong>Period:</strong> Jul. 2023 - Present 路 (Jul.
						2023 - Present 路 6 months) Spain 路 Remote
					</p>
					<p>
						 Hello, I am a passionate Backend Developer
						specialized in creating robust and scalable solutions
						for enterprise systems. Currently, I am part of the
						software engineering team at CALTION CONSULTING SL,
						where I work at the intersection of cutting-edge
						technologies and business applications, specifically in
						the SAP Business One ecosystem.
					</p>

					<p> Tools and Technologies:</p>
					<ul>
						<li>SAP HANA Studio</li>
						<li>Node.js</li>
						<li>SAP OData Services</li>
						<li>
							XSJS (SAP HANA Extended Application Services,
							JavaScript)
						</li>
						<li>.NET Core</li>
						<li>SQL</li>
						<li>RESTful Web Services</li>
					</ul>
					<p> Key Responsibilities:</p>
					<ul>
						<li>
							Design and implementation of Stored Procedures in
							SAP HANA Studio to improve database performance and
							simplify business logic.
						</li>
						<li>
							Creation of web services consumable through OData
							and XSJS to expose business functionalities and
							data.
						</li>
						<li>
							Collaboration in creating a proxy in Node.js to
							route web services as endpoints, allowing their
							consumption by web applications created in .NET
							Core.
						</li>
						<li>
							Contribution to the design and maintenance of
							backend architecture, ensuring scalability and
							maintainability.
						</li>
					</ul>
					<p> Achievements:</p>
					<ul>
						<li>
							Significant improvement in database query
							performance.
						</li>
						<li>
							Implementation of agile development practices and
							DevOps methodologies to improve team efficiency.
						</li>
					</ul>
				</div>
				<div class="content">
					<p>
						<strong>Datqbox Consulting 路 Freelance</strong>
					</p>
					<p>
						<strong>Position:</strong> Senior Full Stack Developer
					</p>
					<p>
						<strong>Period:</strong> May. 2023 - Sept. 2023 路 5
						months (May. 2023 - Sept. 2023 路 5 months) Venezuela 路
						Remote
					</p>
					<p>
						Currently, I lead the project of migrating and expanding
						the commercial version of DatqBox Administrative to a
						multiplatform environment. I use a full-stack approach
						to ensure optimal functioning and a fluid user
						experience.
					</p>
					<p> Tools and Technologies:</p>
					<ul>
						<li>Node Js Express Apoller Server</li>
						<li>ORM Sequelize</li>
						<li>React</li>
						<li>Chakra UI</li>
						<li>Apollo + GraphQL</li>
						<li>React Native</li>
						<li>Electron</li>
					</ul>
					<p> Key Responsibilities:</p>
					<ul>
						<li>
							Leadership in the project of migrating and expanding
							DatqBox Administrative to a multiplatform
							environment.
						</li>
						<li>
							Backend development with Node.js and Sequelize,
							improving interaction with databases and security in
							query and manipulation operations.
						</li>
						<li>
							Frontend development of the Accounting version with
							React, Chakra UI, and Apollo + GraphQL, offering an
							interactive and real-time user experience.
						</li>
						<li>
							Work on a React Native version to provide a
							consistent experience on mobile devices.
						</li>
						<li>
							Implementation of the Point of Sale (POS) module in
							Electron for desktop applications.
						</li>
					</ul>
					<p> Achievements:</p>
					<ul>
						<li>
							Effective and successful leadership in the migration
							and expansion of DatqBox Administrative to an
							enhanced multiplatform environment.
						</li>
						<li>
							Implementation of full-stack solutions using modern
							technologies and leveraging tools like Sequelize,
							React, Chakra UI, Apollo, GraphQL, and Electron.
						</li>
					</ul>
				</div>
				<div class="content">
					<p>
						<strong
							>Central IT - Tecnologia em Neg贸cios 路 Full Time</strong
						>
					</p>
					<p>
						<strong>Position:</strong> Full Stack Developer
					</p>
					<p>
						<strong>Period:</strong> Dec. 2020 - Apr. 2023 路 2 year
						5 months, Brasilia, Distrito Federal, Brazil
					</p>
					<p>Professional Experience at Central IT:</p>
					<p>Highlighted Projects:</p>
					<ul>
						<li>
							<strong>Teleport Project:</strong> Main developer in
							the Teleport project, a software for project
							management and remote work, using Next.js, Django,
							and MongoDB.
						</li>
						<li>
							<strong>UNIQ Facial Recognition Project:</strong>
							Collaboration in the development of UNIQ, a facial
							recognition application with a frontend in React and
							Next.js, mobile in React Native, and backend in
							Django with PostgreSQL.
						</li>
						<li>
							<strong>Reveal Project:</strong> Contribution to the
							development of Reveal, an application control
							platform with React, Next.js, Django, MongoDB,
							Redis, and MQL, and the use of Mongoose for MongoDB
							interaction.
						</li>
					</ul>
					<p>Skills:</p>
					<ul>
						<li>Redis</li>
						<li>MongoDB</li>
						<li>Mongoose</li>
						<li>MQL</li>
						<li>Ruby on Rails</li>
						<li>Vue.js</li>
						<li>Databases</li>
						<li>React.js</li>
						<li>Artificial Intelligence</li>
						<li>Mobile Application Development</li>
						<li>Adaptability</li>
						<li>Full Stack Development</li>
						<li>Leadership of Multidisciplinary Teams</li>
					</ul>
				</div>
				<div class="content">
					<p>
						<strong>Syswin Limited, C.A. 路 Freelance</strong>
					</p>
					<p>
						<strong>Position:</strong> Manager - Full Stack
						Developer
					</p>
					<p>
						<strong>Period:</strong> Aug. 2004 - Nov. 2019 路 15
						years 4 months, Venezuela
					</p>
					<p>
						As the founder and CEO of Syswin Limited, C.A., I played
						multiple roles during my time at the company, including
						that of developer and team leader. In addition to
						overseeing the administrative and legal aspects of the
						company, I led our development teams in a variety of
						projects and technologies.
					</p>
					<p>Key Responsibilities and Achievements:</p>
					<ul>
						<li>
							Backend Web Development with Python, Django Rest API
							Framework, PostgreSQL, PL/SQL Oracle, and Frontend
							with Node JS, React, Nextapp, Chakra-ui, Typescript,
							Javascript, and AWS.
						</li>
						<li>
							Design and development of the corporate website
							using HTML, CSS3, JavaScript, JQuery, and JQuery
							Mobile.
						</li>
						<li>
							Creation and optimization of PHP scripts, API
							integration, access to MySQL, AWS DynamoDB, and
							PostgreSQL databases, implementation of the
							HasOffers API.
						</li>
						<li>
							Design and development of Java desktop and web
							applications, file handling with the POI library,
							support for multiple languages, file import/export.
						</li>
						<li>
							Configuration and maintenance of Ubuntu servers,
							management of phpMyAdmin, users and permissions,
							installation and configuration of PHP.
						</li>
						<li>
							Development and leadership of the Datqbox
							Administrative project in .NET with SQL Server
							database.
						</li>
						<li>
							Web application development with Python, Django Rest
							Framework, and PostgreSQL.
						</li>
					</ul>
					<p>Skills:</p>
					<ul>
						<li>Databases</li>
						<li>React.js</li>
						<li>Adaptability</li>
						<li>Leadership and Team Management</li>
						<li>Full Stack Development</li>
						<li>System and Server Administration</li>
						<li>Business and Administrative Management</li>
					</ul>
				</div>
			</section>
		</main>
	</div>

	<ContactCTA />
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
