---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Raúl González"
	description="About Raúl González Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Senior  full stack developer. Thanks for stopping by. Read below to learn more about myself and my background. "
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Raúl González at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						<strong
							>With more than 20 years of experience in the
							technological field, I am a highly qualified and
							entrepreneurial Full Stack Developer, having founded
							my own development company in Venezuela. Throughout
							my career, I have acquired solid knowledge in
							various technologies and methodologies.</strong
						>
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<strong
							>UNIVERSIDAD NACIONAL ABIERTA - VENEZUELA</strong>
					</p>
					<p>8th SEMESTER IN SYSTEMS ENGINEERING</p>
					<p>Today</p>
				</div>
				<div class="content">
					<p><strong>IUTIRLA - CARACAS VENEZUELA</strong></p>
					<p>TSU COMPUTER SCIENCE, SYSTEMS ANALYSIS</p>
					<p>March 1991 - August 1996</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						<strong>FrontEnd:</strong> Proficient in JavaScript
						(more than 15 years), TypeScript (more than 5 years),
						React (more than 5 years), React-Native (more than 3
						years), Next.js (more than 3 years) and .NET Core (more
						than 10 years), allowing me to create attractive and
						functional user interfaces.
					</p>
					<p>
						<strong>Backend:</strong> I am an expert in Node.js
						(more than 5 years), Django (more than 10 years), SQL
						(more than 15 years), PostgreSQL (more than 10 years),
						MongoDB (more than 2 years), Redis (more than 2 years),
						Mongoose (more than 2 years), PL/SQL Oracle (more than
						10 years) and SQL Server (more than 10 years), which
						allows me to develop robust and scalable systems.
					</p>
					<p>
						<strong>Infrastructure and Cloud:</strong> I have
						extensive experience deploying and managing AWS (5+
						years), Azure (3+ years), Windows Server (15+ years) and
						Linux (10+ years), ensuring optimal performance and
						security in cloud and on-premises environments.
					</p>
					<p>
						<strong>Code and Data Management:</strong> I have solid
						knowledge in Git (more than 10 years), SQL Server (more
						than 10 years), SAP Crystal Reports (more than 10
						years), Redis (more than 2 years), Mongoose (more than 2
						years) and MongoDB Query Language (MQL) (more than 2
						years), ensuring efficient source code management and
						detailed report generation.
					</p>
					<p>
						<strong>Agile Methodologies:</strong> As a Scrum Master,
						I have facilitated the collaboration and delivery of
						successful projects in dynamic environments. My
						experience and skills make me an ideal candidate to lead
						and contribute to software development projects in a
						wide range of industries. wide range of industries
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
