---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Ra煤l Gonz谩lez"
	description="About Ra煤l Gonz谩lez Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Senior  full stack developer. Thanks for stopping by. Read below to learn more about myself and my background. "
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Ra煤l Gonz谩lez at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						<strong
							>With more than 20 years of experience in the
							technological field, I am a highly qualified and
							entrepreneurial Full Stack Developer, having founded
							my own development company in Venezuela. Throughout
							my career, I have acquired solid knowledge in
							various technologies and methodologies.</strong
						>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<strong>UNIVERSIDAD NACIONAL ABIERTA - VENEZUELA</strong
						>
					</p>
					<p>8th SEMESTER IN SYSTEMS ENGINEERING</p>
					<p>Today</p>
				</div>
				<div class="content">
					<p><strong>IUTIRLA - CARACAS VENEZUELA</strong></p>
					<p>TSU COMPUTER SCIENCE, SYSTEMS ANALYSIS</p>
					<p>March 1991 - August 1996</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						<strong>FrontEnd:</strong> Proficient in JavaScript
						(more than 15 years), TypeScript (more than 5 years),
						React (more than 5 years), React-Native (more than 3
						years), Next.js (more than 3 years) and .NET Core (more
						than 10 years), allowing me to create attractive and
						functional user interfaces.
					</p>
					<p>
						<strong>Backend:</strong> I am an expert in Node.js
						(more than 5 years), Django (more than 10 years), SQL
						(more than 15 years), PostgreSQL (more than 10 years),
						MongoDB (more than 2 years), Redis (more than 2 years),
						Mongoose (more than 2 years), PL/SQL Oracle (more than
						10 years) and SQL Server (more than 10 years), which
						allows me to develop robust and scalable systems.
					</p>
					<p>
						<strong>Infrastructure and Cloud:</strong> I have
						extensive experience deploying and managing AWS (5+
						years), Azure (3+ years), Windows Server (15+ years) and
						Linux (10+ years), ensuring optimal performance and
						security in cloud and on-premises environments.
					</p>
					<p>
						<strong>Code and Data Management:</strong> I have solid
						knowledge in Git (more than 10 years), SQL Server (more
						than 10 years), SAP Crystal Reports (more than 10
						years), Redis (more than 2 years), Mongoose (more than 2
						years) and MongoDB Query Language (MQL) (more than 2
						years), ensuring efficient source code management and
						detailed report generation.
					</p>
					<p>
						<strong>Agile Methodologies:</strong> As a Scrum Master,
						I have facilitated the collaboration and delivery of
						successful projects in dynamic environments. My
						experience and skills make me an ideal candidate to lead
						and contribute to software development projects in a
						wide range of industries. wide range of industries
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Works</h2>
				<div class="content">
					<p>
						<strong>Caltion Consulting 路 Jornada completa</strong>
					</p>
					<p>
						<strong>Cargo:</strong> Ingeniero Backend Senior en
						Integraciones y Desarrollo para SAP Business One
					</p>
					<p>
						<strong>Periodo:</strong> jul. 2023 - actualidad 路 (jul.
						2023 - actualidad 路 6 meses) Espa帽a 路 En remoto
					</p> Hola, soy un apasionado desarrollador Backend
					especializado en la creaci贸n de soluciones robustas y
					escalables para sistemas empresariales. Actualmente, formo
					parte del equipo de ingenier铆a de software en CALTION
					CONSULTING SL, donde trabajo en la intersecci贸n de
					tecnolog铆as de vanguardia y aplicaciones empresariales,
					espec铆ficamente en el ecosistema de SAP Business One.

					<p> Herramientas y Tecnolog铆as:</p>
					<ul>
						<li>SAP HANA Studio</li>
						<li>Node.js</li>
						<li>SAP OData Services</li>
						<li>
							XSJS (SAP HANA Extended Application Services,
							JavaScript)
						</li>
						<li>.NET Core</li>
						<li>SQL</li>
						<li>RESTful Web Services</li>
					</ul>
					<p> Responsabilidades clave:</p>
					<ul>
						<li>
							Dise帽o e implementaci贸n de Stored Procedures en SAP
							HANA Studio para mejorar el rendimiento de la base
							de datos y simplificar la l贸gica de negocio.
						</li>
						<li>
							Creaci贸n de servicios web consumibles a trav茅s de
							OData y XSJS para exponer funcionalidades de negocio
							y datos.
						</li>
						<li>
							Colaboraci贸n en la creaci贸n de un proxy en Node.js
							para enrutar servicios web como endpoints,
							permitiendo su consumo por aplicaciones web creadas
							en .NET Core.
						</li>
						<li>
							Contribuci贸n en el dise帽o y mantenimiento de la
							arquitectura del backend, garantizando que sea
							escalable y mantenible.
						</li>
					</ul>
					<p> Logros:</p>
					<ul>
						<li>
							Mejoramiento significativo en el rendimiento de las
							consultas de la base de datos.
						</li>
						<li>
							Implementaci贸n de pr谩cticas de desarrollo 谩gil y
							metodolog铆as DevOps para mejorar la eficiencia del
							equipo
						</li>
					</ul>
				</div>
				<div class="content">
					<p>
						<strong>Datqbox Consulting 路 Aut贸nomo</strong>
					</p>
					<p>
						<strong>Cargo:</strong> Senior Full Stack Developer
					</p>
					<p>
						<strong>Periodo:</strong> may. 2023 - sept. 2023 路 5
						meses (may. 2023 - sept. 2023 路 5 meses) Venezuela 路 En
						remoto
					</p>
					<p>
						Actualmente, lidero el proyecto de migraci贸n y expansi贸n
						de la versi贸n comercial de DatqBox Administrativo hacia
						un ambiente multiplataforma. Utilizo un enfoque
						full-stack para garantizar un funcionamiento 贸ptimo y
						una experiencia de usuario fluida.
					</p>
					<p> Herramientas y Tecnolog铆as:</p>
					<ul>
						<li>Node Js Express Apoller Server</li>
						<li>ORM Sequelize</li>
						<li>React</li>
						<li>Chakra UI</li>
						<li>Apollo + GraphQL</li>
						<li>React Native</li>
						<li>Electron</li>
					</ul>
					<p> Responsabilidades clave:</p>
					<ul>
						<li>
							Liderazgo en el proyecto de migraci贸n y expansi贸n de
							DatqBox Administrativo hacia un ambiente
							multiplataforma.
						</li>
						<li>
							Desarrollo backend con Node.js y Sequelize,
							mejorando la interacci贸n con bases de datos y la
							seguridad en operaciones de consulta y manipulaci贸n.
						</li>
						<li>
							Desarrollo frontend de la versi贸n de Contabilidad
							con React, Chakra UI y Apollo + GraphQL, ofreciendo
							una experiencia de usuario interactiva y en tiempo
							real.
						</li>
						<li>
							Trabajo en una versi贸n en React Native para ofrecer
							una experiencia consistente en dispositivos m贸viles.
						</li>
						<li>
							Implementaci贸n del m贸dulo de Punto de Venta (POS) en
							Electron para aplicaciones de escritorio.
						</li>
					</ul>
					<p> Logros:</p>
					<ul>
						<li>
							Liderazgo efectivo y exitoso en la migraci贸n y
							expansi贸n de DatqBox Administrativo a un entorno
							multiplataforma mejorado.
						</li>
						<li>
							Implementaci贸n de soluciones full-stack utilizando
							tecnolog铆as modernas y aprovechando herramientas
							como Sequelize, React, Chakra UI, Apollo, GraphQL y
							Electron.
						</li>
					</ul>
				</div>
				<div class="content">
					<p>
						<strong
							>Central IT - Tecnologia em Neg贸cios 路 Jornada
							completa</strong
						>
					</p>
					<p>
						<strong>Cargo:</strong> Programador Full Stack
					</p>
					<p>
						<strong>Periodo:</strong> dic. 2021 - abr. 2023 路 1 a帽o
						5 meses, Brasilia, Distrito Federal, Brasil
					</p>
					<p>Experiencia Profesional en Central IT:</p>
					<p>Proyectos Destacados:</p>
					<ul>
						<li>
							<strong>Proyecto Teleport:</strong> Desarrollo
							principal en el proyecto Teleport, un software para
							el control de proyectos y teletrabajo, utilizando
							Next.js, Django y MongoDB.
						</li>
						<li>
							<strong
								>Proyecto de Reconocimiento Facial UNIQ:</strong
							> Colaboraci贸n en el desarrollo de UNIQ, una
							aplicaci贸n de reconocimiento facial con frontend en
							React y Next.js, m贸vil en React Native, y backend en
							Django con PostgreSQL.
						</li>
						<li>
							<strong>Proyecto Reveal:</strong> Contribuci贸n al
							desarrollo de Reveal, una plataforma de control de
							aplicaciones con React, Next.js, Django, MongoDB,
							Redis y MQL, y el uso de Mongoose para la
							interacci贸n con MongoDB.
						</li>
					</ul>
					<p>Aptitudes:</p>
					<ul>
						<li>Redis</li>
						<li>MongoDB</li>
						<li>Mongoose</li>
						<li>MQL</li>
						<li>Ruby on Rails</li>
						<li>Vue.js</li>
						<li>Bases de datos</li>
						<li>React.js</li>
						<li>Inteligencia artificial</li>
						<li>Desarrollo de aplicaciones m贸viles</li>
						<li>Facilidad de adaptaci贸n</li>
						<li>Desarrollo Full Stack</li>
						<li>Liderazgo de equipos multidisciplinarios</li>
					</ul>
				</div>
				<div class="content">
					<p>
						<strong
							>Syswin Limited, C.A. 路 Profesional independiente</strong
						>
					</p>
					<p>
						<strong>Cargo:</strong> Manager - Full Stack Developer
					</p>
					<p>
						<strong>Periodo:</strong> ago. 2004 - nov. 2022 路 18
						a帽os 4 meses, Venezuela
					</p>
					<p>
						Como fundador y CEO de Syswin Limited, C.A., desempe帽茅
						m煤ltiples roles durante mi tiempo en la empresa,
						incluyendo el de desarrollador y l铆der de equipo. Adem谩s
						de supervisar los aspectos administrativos y legales de
						la empresa, dirig铆 a nuestros equipos de desarrollo en
						una variedad de proyectos y tecnolog铆as.
					</p>
					<p>Responsabilidades y logros clave:</p>
					<ul>
						<li>
							Desarrollo Web Backend con Python, Django Rest API
							Framework, PostgreSQL, PL/SQL Oracle, y Frontend con
							Node JS, React, Nextapp, Chakra-ui, Typescript,
							Javascript y AWS.
						</li>
						<li>
							Dise帽o y desarrollo de la p谩gina web corporativa
							utilizando HTML, CSS3, JavaScript, JQuery y JQuery
							Mobile.
						</li>
						<li>
							Creaci贸n y optimizaci贸n de scripts PHP, integraci贸n
							de API's, acceso a bases de datos MySQL, AWS
							DynamoDB y PostgreSQL, implementaci贸n de la API de
							HasOffers.
						</li>
						<li>
							Dise帽o y desarrollo de aplicaciones Java de
							escritorio y web, manejo de archivos Excel con la
							biblioteca POI, soporte para m煤ltiples idiomas,
							importaci贸n/exportaci贸n de archivos.
						</li>
						<li>
							Configuraci贸n y mantenimiento de servidores Ubuntu,
							gesti贸n de phpMyAdmin, usuarios y permisos,
							instalaci贸n y configuraci贸n de PHP.
						</li>
						<li>
							Desarrollo y liderazgo del proyecto Datqbox
							Administrativo en .NET con base de datos SQL Server.
						</li>
						<li>
							Desarrollo de aplicaciones web con Python, Django
							Rest Framework y PostgreSQL.
						</li>
					</ul>
					<p>Aptitudes:</p>
					<ul>
						<li>Bases de datos</li>
						<li>React.js</li>
						<li>Adaptabilidad</li>
						<li>Liderazgo y gesti贸n de equipos</li>
						<li>Desarrollo Full Stack</li>
						<li>Administraci贸n de sistemas y servidores</li>
						<li>Gesti贸n empresarial y administrativa</li>
					</ul>
				</div>
			</section>
		</main>
	</div>

	<ContactCTA />
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
