---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Full Stack</h2>
		<p>
			As a Full Stack Developer, my journey is marked by a deep
			understanding and practical skill in all layers of software
			development. My experience ranges from building complex backend
			applications using Python, Django, and Node.js, to developing rich
			and dynamic user interfaces with React, Next.js, and Chakra UI. In
			projects like the development of DatqBox Administrativo and various
			others at Syswin Limited, C.A., I successfully combined robust
			database design in SQL and PostgreSQL with intuitive and responsive
			frontend development. This ability to handle both backend and
			frontend not only allows me to have an integral view of software
			projects but also to lead and contribute effectively at each stage
			of development. My full stack approach ensures that I can address
			technical challenges with a comprehensive perspective, ensuring
			cohesive and efficient solutions that satisfy both technical and
			business needs..
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="trophy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Industry Leader</h2>
		<p>
			As an acclaimed leader in the technology and software development
			industry, my experience spans a variety of roles and projects. My
			leadership at Syswin Limited, C.A., and Central IT has been a
			testament to my ability to steer teams through complex challenges
			and ever-changing environments. I have demonstrated an unwavering
			commitment to innovation and excellence, evidenced by my involvement
			in developing sophisticated backend solutions using Python, Django,
			and PostgreSQL, and in crafting intuitive frontend interfaces with
			technologies like Node.js, React, and Next.js. My ability to adapt
			and lead in a sector where technologies and market demands rapidly
			evolve reflects my standing as an industry leader who not only
			follows trends but sets them. .
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="strategy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Strategy-Minded</h2>
		<p>
			My strategic approach has been honed through years of experience in
			managing and developing high-impact technological projects. At
			Syswin Limited, C.A., I exhibited a unique ability to approach
			projects from a holistic perspective, balancing technical needs with
			business objectives and user requirements. This strategic vision was
			evident in my capability to integrate various technologies such as
			React, Django, and Apollo + GraphQL, and in my leadership on complex
			projects like the development of DatqBox Administrativo, where I
			oversaw not just the technical development but also the strategic
			implementation of the solution. My skill in anticipating trends and
			adapting strategies accordingly has been crucial for the sustained
			success and growth of the projects and teams I have led..
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
